


#map {
  height: 800px;
}





/*div {
	outline: 1px solid black;
}*/

/*svg {
	outline: 1px solid orange;
}

g {
	outline: 1px solid red;
}*/


h1{
  font-family:"Libre Baskerville";
 /* font-size:22px;*/
}

body{
  font-family: 'Crimson Text';
  font-size:18px;
}


/* --------------------- */
/* SVG STYLES */
/* --------------------- */

.baseMap{
  stroke-width:0.8px;
  stroke:#555;
  fill:#555;
  opacity:0.5;
}

.globe {
	fill: #000;
}

.cities_start{
  fill:rgba(199,70,70,.8);
/*  fill:none;*/
}

.cities_end{
  /*fill:rgba(29, 168, 183, .5);*/
  fill:rgba(254,194,65,.8);
  254
  stroke-width: .25;
  stroke: white;
 /* fill:none;*/
  }

.line{
/*  stroke:rgba(0, 0, 0, 0.3);*/
  stroke:rgba(253,141,3,.3);
  stroke-width:1px;
  fill:none;
  /*stroke-dasharray:3, 3;*/
}

.geo-globe {
  fill: rgba(236,249,255,0.8);
/*  fill:white;*/
    }

/* --------------------- */















/* --------------------- */
/* CHARTS STYLES */
/* --------------------- */





