





/*div {
	outline: 1px solid black;
}*/

/*svg {
	outline: 1px solid orange;
	position: absolute;
	top: 0;
	left: 0;
}

g {
	outline: 1px solid red;
}*/


h1{
  /*font-family:"Libre Baskerville";*/

	font-family: "Source Sans Pro",sans-serif;
	font-style: normal;
	font-weight: 800;

 /* font-size:22px;*/
}

body{
  /*font-family: 'Crimson Text';*/
  font-family: 'Source Sans Pro', sans-serif;
  font-size:18px;
}

.instruction{
  color: grey;
  font-size: .8em;
}

h3{
  font-weight: 600;
}


/* --------------------- */
/* SVG STYLES */
/* --------------------- */

.baseMap{
  stroke-width:0.8px;
  stroke:#555;
  fill:#555;
  opacity:0.5;
}

.globe {
	fill: #000;
}

.cities_start{
  fill:rgba(199,70,70,.8);
/*  fill:none;*/
}

.cities_end{
  /*fill:rgba(29, 168, 183, .5);*/
  fill:rgba(254,194,65,.8);
  254
  stroke-width: .25;
  stroke: white;
 /* fill:none;*/
  }

.line{
/*  stroke:rgba(0, 0, 0, 0.3);*/
  stroke:rgba(253,141,3,.3);
  stroke-width:1px;
  fill:none;
  /*stroke-dasharray:3, 3;*/
}

.geo-globe {
  fill: rgba(236,249,255,0.8);
/*  fill:white;*/
    }

/* --------------------- */















/* --------------------- */
/* CHARTS STYLES */
/* --------------------- */

.map-row {
	text-align: center;
	position: relative;

}

#map {
	width: 100%;
	max-width: 650px;
	position: relative;
	display: inline-block;
}

.overlay {
	fill: #FFF;
}

.reset-btn {
	margin: 0 auto;
}

.globe-text {
	padding-top: 30px;
	text-align: left;
}


/* --------------------- */
/* TABLES STYLES */
/* --------------------- */


.table {
  font-size: 15px;
}


.background{
  background-color: rgba(211,211,211, .3);
}

td.num {
  text-align: right;
}


.fix_margin{
  margin-top: 50px;
}
